* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body
{
  	background-color: #999999;
}

#container
{ text-align: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #aaaaaa;
  color: white;
}

.blank
{ margin-left: auto;
  margin-right: auto;

  height: 40px;
}
h2
{
  font-size: 35px;
  color: red;
  letter-spacing: 10px;
}
